<div class="content-wrapper-login">
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
        <form class="login100-form validate-form" name="form" (ngSubmit)="f.form.valid && dangnhap()" #f="ngForm" novalidate>
          <span class="login100-form-title p-b-33">
            FACE SHOP
          </span>

          <div class="wrap-input100 validate-input">
            <input class="input100" type="text" id="email" name="email" [(ngModel)]="login.email" #email="ngModel" required placeholder="Email đăng nhập" />
            <span class="focus-input100-1"></span>
            <span class="focus-input100-2"></span>
          </div>

          <div class="wrap-input100 rs1 validate-input">
            <input class="input100" type="password" id="password" name="password" [(ngModel)]="login.password" #password="ngModel" required placeholder="Mật khẩu" />
            <span class="focus-input100-1"></span>
            <span class="focus-input100-2"></span>
          </div>

          <span *ngIf="f.submitted && !password.valid" class="text-danger">Mật khẩu không được trống</span>

          <div class="container-login100-form-btn m-t-20">
            <button type="submit" class="login100-form-btn" data-loading-text="Loading...">
              ĐĂNG NHẬP
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>